@{
    Layout = "_LayoutBelajarCSS";
}

<head>
    <title>Belajar CSS</title>
</head>
    
<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <h3>Jawa Barat</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Prov._Jawa_Barat.jpg/220px-Prov._Jawa_Barat.jpg">
            <p>
                Provinsi Jawa Barat (disingkat Jabar, Sunda Baku:Pegon: ڤرَوفينسي جاوا كولَون, Cacarakan: ꦗꦮ​ꦏꦸꦭꦺꦴꦤ꧀,
                Sunda dan Cirebon: Jawa Kulon) adalah sebuah provinsi di Indonesia, ibu kotanya berada di kota Bandung.
                Pada tahun 2020 penduduk provinsi Jawa Barat berjumlah 48.274.162 jiwa, dengan kepadatan 1.365 jiwa/km2.
            </p>
            <h3>Sejarah</h3>
            <p>
                Temuan arkeologi di Anyer menunjukkan adanya budaya logam perunggu dan besi
                sebelum milenium pertama. Gerabah tanah liat prasejarah zaman buni
                (Bekasi kuno) bisa ditemukan merentang dari Anyer sampai Cirebon.
            </p>
            <p>
                Wilayah Jawa Barat pada abad ke-5 merupakan bagian dari Kerajaan Tarumanagara.
                [butuh rujukan] Prasasti peninggalan Kerajaan Tarumanagara banyak tersebar di Jawa Barat.
                Ada tujuh prasasti yang ditulis dalam aksara Wengi (yang digunkan dalam masa Palawa India)
                dan bahasa Sansakerta yang sebagian besar menceritakan para raja Tarumanagara.
            </p>
            <p>
                Setelah runtuhnya kerajaan Tarumanagara, kekuasaan di bagian barat Pulau Jawa dari Ujung Kulon sampai
                Kali Serayu dilanjutkan oleh Kerajaan Sunda[butuh rujukan]. Salah satu prasasti dari zaman Kerajaan
                Sunda adalah prasasti Kebon Kopi II yang berasal dari tahun 932.
                Kerajaan Sunda beribu kota di Pakuan Pajajaran (sekarang kota Bogor).
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Penduduk</h3>
            <p>
                Jawa Barat merupakan wilayah berkaraktaristik kontras dengan dua identitas:
                masyarakat urban yang sebagian besar tinggal di wilayah Jabodetabek (sekitar Jakarta)
                serta Bandung Raya; dan masyarakat tradisional yang hidup di pedesaan yang tersisa.
                Pada tahun 2002, populasi Jawa Barat mencapai 37.548.565 jiwa, dengan rata-rata
                kepadatan penduduk 1.033 jika/km persegi. Dibandingkan dengan angka pertumbuhan nasional
                (2,14% per tahun), Provinsi Jawa Barat menduduki peringkat terendah, dengan 2,02% per tahun.
            </p>
            <p>
                Tahun 2010, jumlah penduduk provinsi Jawa Barat adalah sebanyak 43.053.732 jiwa
                yang mencakup mereka yang bertempat tinggal di daerah perkotaan sebanyak 28.282.915
                jiwa (65,69 persen) dan di daerah perdesaan sebanyak 14.770.817 jiwa (34,31 persen).
                Persentase distribusi penduduk menurut kabupaten/kota bervariasi dari yang terendah
                sebesar 0,41 persen di Kota Banjar hingga yang tertinggi sebesar 11,08 persen di Kabupaten
                Bogor.
            </p>
            <p>
                Penduduk laki-laki Provinsi Jawa Barat sebanyak 21.907.040 jiwa dan perempuan
                sebanyak 21.146.692 jiwa. Seks Rasio adalah 104, berarti terdapat 104 laki-laki
                untuk setiap 100 perempuan. Seks rasio menurut kabupaten/kota yang terendah adalah
                Kabupaten Ciamis sebesar 98 dan tertinggi adalah Kabupaten Cianjur sebesar 107.
                Seks Rasio pada kelompok umur 0-4 sebesar 106, kelompok umur 5-9 sebesar 106,
                kelompok umur lima tahunan dari 10 sampai 64 berkisar antara 97 sampai dengan 113,
                dan dan kelompok umur 65-69 sebesar 96.
            </p>
            <p>
                Median umur penduduk Provinsi Jawa Barat tahun 2010 adalah 26,86 tahun.
                Angka ini menunjukkan bahwa penduduk Provinsi Jawa Barat termasuk kategori menengah.
                Penduduk suatu wilayah dikategorikan penduduk muda bila median umur < 20, penduduk menengah
                jika median umur 20-30, dan penduduk tua jika median umur > 30 tahun.
            </p>
        </div>
    </div>

    <div class="content-two">
        <div class="row">
            <div class="col-lg-6">
                <p id="a">
                    Median umur penduduk Provinsi Jawa Barat tahun 2010 adalah 26,86 tahun.
                    Angka ini menunjukkan bahwa penduduk Provinsi Jawa Barat termasuk kategori menengah.
                    Penduduk suatu wilayah dikategorikan penduduk muda bila median umur < 20, penduduk menengah
                    jika median umur 20-30, dan penduduk tua jika median umur > 30 tahun.
                </p>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary" onclick="alert('Sukses!!')">Onclick</button>
            </div>
            <div class="col-lg-6">
                <p id="b">
                    Median umur penduduk Provinsi Jawa Barat tahun 2010 adalah 26,86 tahun.
                    Angka ini menunjukkan bahwa penduduk Provinsi Jawa Barat termasuk kategori menengah.
                    Penduduk suatu wilayah dikategorikan penduduk muda bila median umur < 20, penduduk menengah
                    jika median umur 20-30, dan penduduk tua jika median umur > 30 tahun.
                </p>
            </div>
        </div>
    </div>

    <div class="content-two">
        <div class="row">
            <div class="col-lg-12">

              <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Height</th>
                            <th scope="col">Hair Color</th>
                            <th scope="col">Skin Color</th>
                            <th scope="col">Gender</th>
                        </tr>
                    </thead>
                  <tbody id="starWars"></tbody>
              </table>
            </div>
        </div>
    </div>

</div>