.*{
    box-sizing: border-box;
}


.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
    position: fixed;
    background-color: #FFC36D;
    z-index: 4;
}


.container-txt {
    font-family : Arial;
    color:black;
}


.content {
    text-align: justify;
    margin-top: 80px;
    margin-bottom:40px;
}

.nav-item:hover {
    background-color: #FFD743;
}

#